.ilustrationgrid {
    width:100vw;
    height: 100vh;
    /* border: 1px solid white */
  }
  
  .introductiongrid {
    width:100vw;
    height: 100vh;
    /* border: 1px solid white */
  }
  
  .headerText {
    font-size: 84;
  }
  